# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypotheses

# Node
node_modules/
dist/
.env
.DS_Store
coverage/
.npm/

# Local
uploads/
output/
tmp/
